@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Noto Serif";
		src: url("/fonts/Noto Serif.woff2") format("woff2");
		font-style: normal;
		font-weight: 400;
	}
	@font-face {
		font-family: "Noto Serif Bold";
		src: url("/fonts/Noto Serif Bold.woff2") format("woff2");
	}
}
